.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.tableTh {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.tableTd {
  border: 1px solid #dddddd;
  padding: 5px;
}

.tableTbodyTr:nth-child(odd) {
  background: #fff;
}
.tableTbodyTr:nth-child(even) {
  background: #f7f7f7;
}
